<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.dg.dgpethome.mapper.SysDictMapper">
  <resultMap id="BaseResultMap" type="xyz.dg.dgpethome.model.po.SysDict">
    <!--@mbg.generated-->
    <!--@Table sys_dict-->
    <id column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="dict_parent_id" jdbcType="INTEGER" property="dictParentId" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_key" jdbcType="INTEGER" property="dictKey" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_sort" jdbcType="INTEGER" property="dictSort" />
    <result column="dict_remark" jdbcType="VARCHAR" property="dictRemark" />
    <result column="dict_status" jdbcType="INTEGER" property="dictStatus" />
    <result column="dict_parent_value" jdbcType="VARCHAR" property="dictParentValue" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    dict_id, dict_parent_id, dict_code, dict_key, dict_value, dict_sort, dict_remark, 
    dict_status, dict_parent_value
  </sql>

   <resultMap id="BaseResultMap_Vo" type="xyz.dg.dgpethome.model.vo.SysDictVo">
    <!--@mbg.generated-->
    <!--@Table sys_dict-->
    <id column="dict_id" jdbcType="INTEGER" property="dictId" />
    <result column="dict_parent_id" jdbcType="INTEGER" property="dictParentId" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="dict_remark" jdbcType="VARCHAR" property="dictRemark" />
    <result column="dict_status" jdbcType="INTEGER" property="dictStatus" />
    <result column="dict_parent_value" jdbcType="VARCHAR" property="dictParentValue" />
  </resultMap>
  <sql id="Base_Column_List_Vo">
    <!--@mbg.generated-->
    dict_id, dict_parent_id, dict_code, dict_value, dict_remark,
    dict_status, dict_parent_value
  </sql>

  <select id="findDictList" resultMap="BaseResultMap_Vo" parameterType="xyz.dg.dgpethome.model.page.SysDictPageParam">
    SELECT
      <include refid="Base_Column_List_Vo" />
    FROM `sys_dict` d1
    <where>
        <if test="sysDictPageParam.dictParentId != null">
            d1.dict_parent_id = #{sysDictPageParam.dictParentId}
        </if>
    </where>
  </select>

<!--    耗时的全字段查找 -->
<!--  <select id="findAllDictByParentId" resultMap="BaseTreeResultMap" >-->
<!--    SELECT-->
<!--    dict_id, dict_value-->
<!--    FROM `sys_dict`-->
<!--    WHERE dict_parent_id = #{dictParentId,jdbcType=INTEGER}-->
<!--  </select>-->
<!--   <resultMap id="BaseTreeResultMap" type="xyz.dg.dgpethome.model.vo.CascaderSysDictVo">-->
<!--    <id column="dict_id" jdbcType="INTEGER" property="dictId" />-->
<!--    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />-->
<!--    <collection column="dict_id" property="children" javaType="java.util.ArrayList"-->
<!--                ofType="xyz.dg.dgpethome.model.vo.CascaderSysDictVo" select="getNextNodeTree"/>-->
<!--  </resultMap>-->

<!--    <select id="getNextNodeTree" resultMap="NextTreeResultMap">-->
<!--    SELECT-->
<!--     dict_id, dict_value-->
<!--    FROM `sys_dict`-->
<!--    WHERE dict_parent_id = #{dict_id}-->
<!--  </select>-->
<!--  <resultMap id="NextTreeResultMap" type="xyz.dg.dgpethome.model.vo.CascaderSysDictVo">-->
<!--    <id column="dict_id" jdbcType="INTEGER" property="dictId" />-->
<!--    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />-->
<!--    <collection column="dict_id" property="children" javaType="java.util.ArrayList"-->
<!--                ofType="xyz.dg.dgpethome.model.vo.CascaderSysDictVo" select="getNextNodeTree"/>-->
<!--  </resultMap>-->
</mapper>