<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.dg.dgpethome.mapper.SysPetMapper">
<resultMap id="BaseResultMap" type="xyz.dg.dgpethome.model.po.SysPet">
    <!--@mbg.generated-->
    <!--@Table sys_pet-->
    <id column="pet_id" jdbcType="BIGINT" property="petId" />
    <result column="pet_owner_id" jdbcType="INTEGER" property="petOwnerId" />
    <result column="pet_name" jdbcType="VARCHAR" property="petName" />
    <result column="pet_variety_id" jdbcType="INTEGER" property="petVarietyId" />
    <result column="pet_sex" jdbcType="INTEGER" property="petSex" />
    <result column="pet_neutered" jdbcType="INTEGER" property="petNeutered" />
    <result column="pet_status_id" jdbcType="INTEGER" property="petStatusId" />
    <result column="pet_birthday" jdbcType="TIMESTAMP" property="petBirthday" />
    <result column="pet_avatar" jdbcType="VARCHAR" property="petAvatar" />
  </resultMap>

 <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pet_id, pet_owner_id, pet_name, pet_variety_id,pet_variety_name, pet_sex, pet_neutered, pet_status_id, pet_birthday,
    pet_avatar,pet_status_name
  </sql>
  <resultMap id="BaseResultMap_Vo" type="xyz.dg.dgpethome.model.vo.SysPetVo">
    <!--@mbg.generated-->
    <!--@Table sys_pet-->
    <id column="pet_id" jdbcType="BIGINT" property="petId" />
    <result column="pet_owner_id" jdbcType="INTEGER" property="petOwnerId" />
    <result column="pet_name" jdbcType="VARCHAR" property="petName" />
    <result column="pet_variety_id" jdbcType="INTEGER" property="petVarietyId" />
    <result column="pet_variety_name" jdbcType="VARCHAR" property="petVarietyName" />
    <result column="pet_sex" jdbcType="INTEGER" property="petSex" />
    <result column="pet_neutered" jdbcType="INTEGER" property="petNeutered" />
    <result column="pet_status_id" jdbcType="INTEGER" property="petStatusId" />
    <result column="pet_status_name" jdbcType="VARCHAR" property="petStatusName" />
    <result column="pet_birthday" jdbcType="TIMESTAMP" property="petBirthday" />
    <result column="pet_avatar" jdbcType="VARCHAR" property="petAvatar" />
  </resultMap>

    <sql id="Base_Column_List_Vo">
    <!--@mbg.generated-->
    pet_id, pet_owner_id, pet_name, pet_variety_id,
    sd1.dict_value as pet_variety_name, pet_sex, pet_neutered, pet_status_id, pet_birthday,
    pet_avatar, sd2.dict_value as pet_status_name
  </sql>
  <select id="findPetList" resultMap="BaseResultMap_Vo" parameterType="xyz.dg.dgpethome.model.page.SysPetPageParam">
    SELECT <include refid="Base_Column_List_Vo" />
    <!--    LEFT JOIN sys_dict sd ON sp.pet_variety_id = sd.dict_id-->
    FROM `sys_pet` sp  JOIN `sys_dict` sd1 ON sp.pet_variety_id = sd1.dict_id
    LEFT JOIN `sys_dict` sd2 ON sp.pet_status_id = sd2.dict_id
     <where>
        <if test="sysPetPageParam.petOwnerId != null">
            sp.pet_owner_id = #{sysPetPageParam.petOwnerId} AND
        </if>
        <if test="sysPetPageParam.petVarietyId != null">
            sp.pet_variety_id = #{sysPetPageParam.petVarietyId} AND
        </if>
        <if test="sysPetPageParam.petNeutered != null">
            sp.pet_neutered = #{sysPetPageParam.petNeutered}
        </if>
     </where>
  </select>


  <select id="findPetById" resultMap="BaseResultMap_Vo" parameterType="Long">
    SELECT <include refid="Base_Column_List_Vo" />
    <!--    LEFT JOIN sys_dict sd ON sp.pet_variety_id = sd.dict_id-->
        FROM `sys_pet` sp  JOIN `sys_dict` sd1 ON sp.pet_variety_id = sd1.dict_id
        LEFT JOIN `sys_dict` sd2 ON sp.pet_status_id = sd2.dict_id
        <where>
            sp.pet_id = #{petId,jdbcType=BIGINT}
        </where>
    </select>
</mapper>